<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.Description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.Priority %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.DueDate %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @task.IsCompleteToggle %>
</p>

<p>
  <strong>ID:</strong>
  <%= @task.task_list_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
