<html> 
	<head>
		<title> To Do List </title>
		<%= stylesheet_link_tag 'site' %>
	</head>
	
	<body>
		<header>
			<h1> Todo Listorama </h1>
		</header>

		<div id ="primary">
			<% if flash[:message] %>
				<p class="flash­message"><%= flash[:message] %></p>
			<% end %>
		</div>
		
		<div id = "sidebar">
			<h2> Tasks </h2>
			<ul>
				<% @all_task_lists.each do |t| %>
					<li><%= link_to t.name, t %> </li>
				<% end %>
			</ul>
			<%= link_to 'Add a New Task', new_task_list_path %> <br>
			<% if session[:user_id] %>
				<%= link_to 'Logout', logout_path %>
			<% else %>
				<%= link_to 'Login', login_path %>
			<% end %>

		</div>
		<%= yield %>
		<footer> copyright 2015 | MGTI </footer>
	</body>
</html>